.download {
  position: relative;

  margin-right: auto;
  padding-left: 40px;
  padding-right: 24px;
}

.download__presentation {
  font-family: $main-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $main-color;
  text-decoration: none;

  &::after {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 14px;
    height: 14px;

    background-image: url("../img/icon-download.svg");
    background-repeat: no-repeat;

    content: "";
  }
}

@media (max-width: $tablet-max-width) {
  .download {
    margin-bottom: 8px;
    padding-left: 17px;
  }

  .download__presentation {
    &::after {
      top: 3px;
      right: 1px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .download {
    margin: 0;
    padding: 0;
  }

  .download__presentation {
    &::after {
      top: 4px;
      right: -21px;
    }
  }
}
