.main-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/main-bg-desktop@1x.jpg");
  background-color: rgb(66, 76, 83);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: $tablet-max-width) {
  .main-page {
    background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/main-bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--menu-opened {
      background-image: url("../img/main-bg-tablet@1x.jpg");
    }
  }
}

@media (max-width: $mobile-min-width) {
  .main-page {
    background: linear-gradient(45deg, rgba(66, 76, 83, 0.5) 0%, rgba(112, 60, 38, 1) 100%), url("../img/main-bg-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;

    &--menu-opened {
      background-image: url("../img/main-bg-mobile@1x.jpg");
    }
  }
}
