.main-nav {
  margin-left: auto;
  margin-right: 33px;
  padding-top: 41px;
  padding-bottom: 10px;

  display: flex;
  flex-wrap: wrap;
  max-width: 965px;
}

@media (max-width: $tablet-max-width) {
  .main-nav {
    display: none;
  }

  .page-header--opened .main-nav {
    margin: 0;
    margin-right: 0;
    padding-bottom: auto;
    padding-top: 73px;

    display: block;
    width: 100%;

    order: 2;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header--opened .main-nav {
    padding-top: 48px;
  }
}
