.site-list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;

  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  font-family: $main-font-family;
  text-transform: uppercase;
}

.site-list__item {
  margin-right: 35px;
  margin-bottom: 10px;

  display: block;
}

.site-list__link {
  color: $main-color;
  text-decoration: none;
}

@media (max-width: $tablet-max-width) {
  .page-header--opened .site-list__item {
    margin-right: 0;
    margin-bottom: 48px;

    width: 100%;

    font-size: 32px;
    line-height: 125%;
    font-weight: 700;
    text-align: center;
  }
}

@media (max-width: $mobile-max-width) {
  .page-header--opened .site-list__item {
    margin-bottom: 24px;

    font-size: 20px;
  }
}
