$main-font-family: "Montserrat", "Open Sans", sans-serif;
$main-color: #ffffff;
$secondary-color: #383838;
$important-color: #e75333;
$valind-color: #64dd17;
$unvalid-color: #d9453d;
$title-color: #383838;
$bacground-color: #4c403c;
$background-footer-color: #1d1d1d;
$header-overlay-color: rgba(4, 4, 4, 0.9);
$desktop-max-width: 1440px;
$desktop-min-width: 1024px;
$tablet-max-width: 1023px;
$tablet-min-width: 768px;
$mobile-max-width: 767px;
$mobile-min-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
